{
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 80,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}